@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* sharded style */
.max-width {
    max-width: 85%;
    margin: 0 auto;
}

.max-display-width {
    max-width: 1440px;
}

.description {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
}
.footer-description {
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.5);
}



/* header section */
/* nav section */
.nav-bar {

    list-style: none;
}
.nav-bar a{
    transition: border 0.03s ease;
}
.nav-bar a:active{
    border-bottom: 1px solid #E95A08;
}


/* main part */
/* plants section */
.card-btn {
    padding-top: 19px;
    padding-bottom: 19px;
    background-color: #E95A08;
    color: #FFFFFF;
    font-weight: 600;
    transition: all 0.3s ease;
}

.card-btn:hover {
    background-color: #E55000;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    scale: 1.03;
}
.card-btn:active {
    transform: translateY(0.5px);
}


/* latest deal section */


.img-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("./assets/deal-bloom.png");
}

.img-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("./assets/deal-ana.png");

}

.right-img {
    background-color: brown;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("./assets/deal-zabo.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* join section */
.subscribe-btn{
    transition: all 0.3s ease;
}
.subscribe-btn:hover{
    scale: 1.03;
}

/* media query*/
/* smartphone devices */
@media screen and (max-width: 576px) {
    .nav-link {
        display: none;
    }

    .description {
        /* font-size: 0.875rem; */
        font-size: 14px;
    }
    
}